.login {

  .image {

  }

  h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 10%;
  }

  .offset-4 {
    //height: 400px;
    //vertical-align: middle;
    margin-top: 50px;
  }



  .center {
    text-align: center;
  }

  .account-a {
    margin: 10%;
    color: white;
    font-style: italic;
  }

  .access-button {
    margin: 5%;
    font-weight: bold;
  }
}
