<div class="upload-product">
  <form class="new-user-form" [formGroup]="formGroup" (ngSubmit)="uploadProduct()">
    <div class="row">
      <div class="col-12">
        <h3 class="text" align="center">¡Carga un producto, ayuda al resto!</h3>
      </div>
      <div class="col-md-4 offset-md-2 align-content-end">

        <!--INPUT NAME-->
        <fieldset>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   formControlName="name"
                   [formGroup]="formGroup"
                   placeholder="Nombre"
                   aria-label="Name"
                   aria-describedby="basic-addon1"
                   [(ngModel)]="newProduct.name"
                   required>
            <div class="form-control-feedback"
                 *ngIf="formGroup.controls['name'].errors && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">
              <p class="error" *ngIf="formGroup.controls['name'].errors.required">Es requerido</p>
            </div>
          </div>
        </fieldset>

        <!--SELECT CATEGORY-->
        <select type="number" class="custom-select custom-select mb-3" [(ngModel)]="selectedCategoryId"
                [formGroup]="formGroup" (ngModelChange)="getSubcategories()" [ngModelOptions]="{standalone: true}">
          <option [value]="undefined" selected>Seleccione una categoría</option>
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>

        <!--SELECT SUBCATEGORY-->
        <fieldset>
          <select type="number" class="custom-select custom-select mb-3" [(ngModel)]="newProduct.subcategoryId"
                  formControlName="subcategoryId"
                  [formGroup]="formGroup" *ngIf="!alerts.subcategories.loading">
            <option [value]="undefined" selected disabled>Seleccione una Subcategoría</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
          </select>
          <div class="form-control-feedback"
               *ngIf="formGroup.controls['subcategoryId'].errors && (formGroup.controls['subcategoryId'].dirty || formGroup.controls['subcategoryId'].touched)">
            <p class="error" *ngIf="formGroup.controls['subcategoryId'].errors.required">Es requerida la selección</p>
          </div>
        </fieldset>

        <!--INPUT DESCRIPTION-->
        <fieldset>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   formControlName="description"
                   [formGroup]="formGroup"
                   placeholder="Descripción"
                   aria-label="Description"
                   aria-describedby="basic-addon1"
                   [(ngModel)]="newProduct.description"
                   required>
            <div class="form-control-feedback"
                 *ngIf="formGroup.controls['description'].errors && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)">
              <p class="error" *ngIf="formGroup.controls['description'].errors.required">Es requerido</p>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="col-md-4">
        <!--INPUT PRICE-->
        <fieldset>
          <div class="form-group">
            <input type="number"
                   min="0"
                   class="form-control"
                   formControlName="price"
                   [formGroup]="formGroup"
                   placeholder="Precio"
                   aria-label="Price"
                   aria-describedby="basic-addon1"
                   [(ngModel)]="newSupplierProduct.price"
                   required>
            <div class="form-control-feedback"
                 *ngIf="formGroup.controls['price'].errors && (formGroup.controls['price'].dirty || formGroup.controls['price'].touched)">
              <p class="error" *ngIf="formGroup.controls['price'].errors.required">Es requerido</p>
              <p class="error" *ngIf="formGroup.controls['price'].errors.min">El minimo es 0.</p>
            </div>
          </div>
        </fieldset>

        <!--SELECT SUPPLIER-->
        <fieldset>
          <select class="custom-select custom-select mb-3" [(ngModel)]="newSupplierProduct.supplierId"
                  formControlName="supplierId"
                  [formGroup]="formGroup" (ngModelChange)="getSuppliers()" *ngIf="!alerts.suppliers.loading">
            <option [value]="undefined" selected>Seleccione un Proveedor</option>
            <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
          </select>
          <div class="form-control-feedback"
               *ngIf="formGroup.controls['supplierId'].errors && (formGroup.controls['supplierId'].dirty || formGroup.controls['supplierId'].touched)">
            <p class="error" *ngIf="formGroup.controls['supplierId'].errors.required">Es requerida la selección</p>
          </div>
        </fieldset>

        <!--INPUT URL-->
        <!--<fieldset>-->
        <!--<div class="form-group">-->
        <!--<input type="imageUrl"-->
        <!--class="form-control"-->
        <!--formControlName="imageUrl"-->
        <!--[formGroup]="formGroup"-->
        <!--placeholder="Image-URL"-->
        <!--aria-label="imageUrl"-->
        <!--aria-describedby="basic-addon4"-->
        <!--[(ngModel)]="unsolvedReports.imageUrl"-->
        <!--required>-->
        <!--<div class="form-control-feedback"-->
        <!--*ngIf="formGroup.controls['imageUrl'].errors && (formGroup.controls['imageUrl'].dirty || formGroup.controls['imageUrl'].touched)">-->
        <!--<p class="error" *ngIf="formGroup.controls['imageUrl'].errors.required">Es requerida una URL</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</fieldset>-->
        <fieldset>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="imageSelect($event)"
                     accept="image/*">
              <label class="custom-file-label" for="inputGroupFile01">
                {{file ? file.name : 'Seleccionar Imagen'}}</label>
            </div>
          </div>
        </fieldset>
      </div>

      <!--ALERT MESSAGE-->
      <div class="col-md-8 col-lg-6 offset-lg-3 offset-md-2">
        <div class="alert alert-danger text-center" *ngIf="uploadProductError">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Hubo un error al cargar su PRODUCTO. Revise los datos e inténtelo nuevamente.</p>
            </blockquote>
          </div>
        </div>
        <div class="alert alert-danger text-center" *ngIf="alerts.file.error || uploadProductImageError">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>Hubo un error al cargar la imagen del producto. La imagen no debe exceder los 2MB. Revise los datos e
                inténtelo nuevamente.</p>
            </blockquote>
          </div>
        </div>
        <div class="alert alert-success text-center" *ngIf="alerts.success">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>¡Operación realizada con éxito!</p>
            </blockquote>
          </div>
        </div>
      </div>

      <!--BUTTONS-->
      <div class="col-md-8 col-lg-6 offset-lg-3 offset-md-2">
        <div class="row">
          <div class="report-button col-4 col-md-6" align="right">
            <button type="button" class="btn btn-danger" id="report-button"
                    (click)="openReportModal(reportSupplierModal)">
              <span *ngIf="!alerts.adding.report">Reportar Proveedor</span>
              <span *ngIf="alerts.adding.report"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            </button>
          </div>
          <div class="register-button col-8 col-md-6" align="center">
            <button type="submit" class="btn btn-light" id="register-button"
                    [disabled]="formGroup.invalid || alerts.adding.product || !file">
              <span *ngIf="!alerts.adding.product">Agregar</span>
              <span *ngIf="alerts.adding.product"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            </button>
          </div>
        </div>


      </div>

    </div>
  </form>

  <!--ReportSupplier Modal-->
  <ng-template #reportSupplierModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        ¡Reporte el Proveedor faltante!
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reportFormGroup">
        <fieldset>
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   formControlName="description"
                   [formGroup]="reportFormGroup"
                   placeholder="Descripción"
                   aria-label="Description"
                   aria-describedby="basic-addon1"
                   [(ngModel)]="newReportSupplier.description"
                   required>
            <div class="form-control-feedback"
                 *ngIf="reportFormGroup.controls['description'].errors && (reportFormGroup.controls['description'].dirty || reportFormGroup.controls['description'].touched)">
              <p class="error" *ngIf="reportFormGroup.controls['description'].errors.required">Es requerido</p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [ngClass]="{'disabled': reportFormGroup.invalid}"
              (click)="sendReport()">Enviar Reporte
      </button>
    </div>
    <div class="alert alert-danger text-center" *ngIf="alerts.adding.reportError">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>Hubo un error al enviar tu Reporte.</p>
        </blockquote>
      </div>
    </div>
  </ng-template>
</div>
