.admin-products {
  padding-right: 50px;
  padding-left: 50px;

  .row {
    padding-top: 2%;
    background-color: #8BC4FF;

    h2 {
      color: white;
      font-family: Open-Sans, "Lilita One", sans-serif;
    }

    mat-table {
      width: 100%;
      height: 100%;

      .product-img {
        max-width: 70px;
        max-height: 50px;
      }

      .validate {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;

        i {
          font-size: 24px;
          color: limegreen;
        }
      }

      .user-name {
        text-align: center;
        color: #58bee0;
        font-weight: bold;
        cursor: pointer;
      }
    }

  }
}

