<div class="admin-products">
  <div class="row">
    <h2>Productos</h2>
    <mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef><b>ID</b></mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
      <!--NAME Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef><b>Nombre</b></mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>
      <!--IMAGE Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef><b>Imagen</b></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <img class="product-img"
               [src]="row.imageUrl" alt="Product Image">
        </mat-cell>
      </ng-container>
      <!--DESCRIPTION Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef><b>Descripción</b></mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.description | truncate: 100}}</mat-cell>
      </ng-container>
      <!--LAST UPDATE Column -->
      <ng-container matColumnDef="lastUpdate">
        <mat-header-cell *matHeaderCellDef><b>Última Modificación</b></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.updateDate">{{row.updateDate.toStringDate()}}</span><span
          *ngIf="!row.updateDate">Nunca</span>
        </mat-cell>
      </ng-container>
      <!--REPORTER Column -->
      <ng-container matColumnDef="reporter">
        <mat-header-cell *matHeaderCellDef><b>Reportador</b></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span
            class="user-name"
            (click)="openRequesterModal(userDetailModal,'User', users.get(row.userId))">
            {{getUserName(row.userId)}}
          </span>
        </mat-cell>
      </ng-container>
      <!--CREATION DATE Column -->
      <ng-container matColumnDef="creationDate">
        <mat-header-cell *matHeaderCellDef><b>Validar</b></mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.uploadDate.toStringDate()}}</mat-cell>
      </ng-container>
      <!--VALIDATE Column -->
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef><b>Validar</b></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="validate" *ngIf="!row.isValidated">
            <i
              class="fa fa-check"
              (click)="openProductModal(validateProduct, row)"
            >
            </i>
          </div>
          <span *ngIf="row.isValidated">Validado</span></mat-cell>
      </ng-container>
      <!--Remove Column-->
      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef align="center"><b>Remover</b></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="remove-button" align="center">
            <button mat-icon-button (click)="openProductDeleteModal(deleteModal, row)">
              <mat-icon>
                <i class="fa fa-trash"></i>
              </mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <!--validate Product Modal-->
    <ng-template #validateProduct>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <span *ngIf="newProduct.id">Validar producto {{newProduct.name}}</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea validar el producto?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="validateProductA()">Confirmar</button>
      </div>
    </ng-template>

    <!--Delete confirmation modal-->
    <ng-template #deleteModal>
      <div class="modal-header" (keyup.esc)="resetDeleteModal()">
        <h4 class="modal-title pull-left">Eliminar
          <span *ngIf="productToDelete">Producto {{productToDelete.name}}</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetDeleteModal(); modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el producto?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="this.deleteProduct()">Eliminar</button>
        <button type="submit" class="btn btn-secondary" (click)="resetDeleteModal(); modalRef.hide();">Cancelar</button>
      </div>
    </ng-template>

    <!--DETAIL USER MODAL-->
    <ng-template #userDetailModal>
      <div class="modal-header" (keyup.esc)="resetUserModal()">
        <h4 class="modal-title pull-left">
          <span *ngIf="selectedUser.id">Detalles del Usuario: {{selectedUser.name}}</span>
        </h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="resetUserModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="width: 100%">
            <ul class="list-group list-group-flush" *ngIf="selectedUser.id">
              <li class="list-group-item"><b>ID: </b><span>{{selectedUser.id}}</span></li>
              <li class="list-group-item"><b>Nombre: </b><span>{{selectedUser.name}}</span></li>
              <li class="list-group-item"><b>Apellido: </b><span>{{selectedUser.lastName}}</span></li>
              <li class="list-group-item"><b>Usuario: </b><span>{{selectedUser.username}}</span></li>
              <li class="list-group-item"><b>Email: </b><span>{{selectedUser.email}}</span></li>
              <li class="list-group-item"><b>Rating: </b><span>{{selectedUser.rate}}</span></li>
              <li class="list-group-item"><b>Porcentaje de reportes
                aprobados: </b><span>{{selectedUser.acceptedReportsPercentage}}%</span></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="resetUserModal()">Volver</button>
      </div>
    </ng-template>

  </div>
</div>
