.admin-products {
  padding-right: 50px;
  padding-left: 50px;
  .row {
    padding-top: 2%;
    background-color: #8BC4FF;
    .add-button {
      text-align: right;
      button {
        background-color: white;
        color: black;
      }
    }
    h2 {
      color: white;
      font-family: Open-Sans, "Lilita One", sans-serif;
    }
    table {
      text-align: center;
      background-color: white;
      tr{
        th{
          vertical-align: middle;
        }
        td{
          vertical-align: middle;
          .upload-button, .remove-button{
            button {
              font-size: 26px;
              background-color: transparent;
              color: black;
              border: none;
            }
          }
          &.product-image{
            overflow-x: scroll;
            max-width: 200px;
            .product-img{
              max-width: 70px;
              max-height: 50px;
            }
          }
        }
      }
    }
    .paginator /deep/ .ngx-pagination {
      text-align: center;
      li{
        color: white;
        &.current{
          background-color: white;
          color: black;
        }
        & :hover(:not(.disabled)){
          background-color: white;
          color: black;
        }
        &.disabled{
          cursor: not-allowed;
        }
        a{
          color: white;
          & :hover{
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
