.profile{
  .row{
    margin: 4%;
    .input-group{
      width: 150%;
    }

    .register-button{
      #register-button{
        width: 100%;
        font-weight: bold;
        background-color: #58bee0;
        color: white;
      }
    }

    .delete-button{
      #delete-button{
        font-weight: bold;
      }
    }
  }

  h3{
    color:white;
    font-family: Open-Sans, "Lilita One", sans-serif;
    margin: 0;
    height: 54px;
    align-items: center;

  }
}
