/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.error{
  color: red;
  margin-left: 5px;
  float: left!important;
}

.disabled{
  pointer-events: none;
}

body{
  overflow-x: hidden;
}

.fa-spinner{
  color: white;
}
