/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$primary-color: #4f98e6;
$danger-color: #e64f75;
$success-color: #4fe69d;
$warning-color: #e6af4f;
$background-color: #8BC4FF;
