@import "../../../styles";

.cart {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 2%;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
    margin: 0;
  }

  .add-button {
    text-align: right;

    button {
      background-color: #58bee0;
      font-weight: bold;
      color: white;
    }
  }

  .detail-modal {
    margin-left: 10px;
    margin-right: 10px;
  }


}

::ng-deep mat-expansion-panel {
  mat-expansion-panel-header {
    mat-panel-title {
      color: $primary-color !important;
      font-weight: bold;
    }
  }
}

.product-image {
  padding: 2%;
  margin-left: 25%;

  .product-img {
    max-width: 200px;
    max-height: 200px;
  }
}
