<div class="history">
  <!--TODO Agrupar por cantidad de product-->
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row">
        <h2>Carrito Actual</h2>
        <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="goToCurrentCart()">Volver</button>
      </div>

      <div class="row" *ngIf="alerts.supplierProducts.loading">
        <div class="col-12" style="text-align: center;">
          <span class="mx-auto">
            <i class="fa fa-spinner fa-pulse fa-fw fa-4x"></i>
          </span>
        </div>
      </div>
      <div *ngIf="!alerts.supplierProducts.loading">
        <h3 *ngIf="carts.length <= 0">No posee carritos anteriores al actual.</h3>
        <div >
          <mat-accordion>
            <ng-container
              class="suppliers"
              *ngFor="let cartId of cartsIds()"
            >
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Carrito del {{getCartById(cartId).date.toStringDate()}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-history-cart-product-table
                  [supplierProducts]="supplierProducts.get(cartId)"
                >
                </app-history-cart-product-table>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
