<div class="new-user">


  <div class="image">
    <!--​<img src="ui/src/app/login/stingy-Icon.png" alt="Icon">-->
  </div>

  <div class="row">

    <div class="offset-4 col-4 center">

      <div>
        <h1 align="center">{{ title }}</h1>
      </div>


      <!--INPUT USERNAME-->
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Usuario</span>
        </div>

        <input type="text" class="form-control" placeholder="example-name" aria-label="UserName"
               aria-describedby="basic-addon1">
      </div>

      <!--INPUT EMAIL-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">@Email</span>
        </div>

        <input type="text" class="form-control" placeholder="example@example.com" aria-label="Email"
               aria-describedby="basic-addon2">
      </div>

      <!--INPUT CONFIRMED EMAIL-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Confirmar @Email</span>
        </div>

        <input type="text" class="form-control" placeholder="example@example.com" aria-label="Confirmed Email"
               aria-describedby="basic-addon3">
      </div>

      <!--INPUT PASSWORD-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon4">Contraseña</span>
        </div>

        <input type="text" class="form-control" placeholder="example1234" aria-label="Password"
               aria-describedby="basic-addon4">
      </div>

      <!--INPUT CONFIRMED PASSWORD-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon5">Confirmar Contraseña</span>
        </div>

        <input type="text" class="form-control" placeholder="example1234" aria-label="Confirmed Password"
               aria-describedby="basic-addon5">
      </div>


      <div class="register-button" align="center">
        <button type="button" class="btn btn-light">REGISTRARME</button>
      </div>

    </div>

  </div>
</div>
