.new-user{

  .image{
    padding-top: 7%;
  }
  .new-user-form{
    background-color: #8BC4FF;
  }
  .row{
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    .input-group{
      width: 150%;
    }

    .register-button{
      #register-button{
        width: 100%;
        font-weight: bold;
        background-color: #58bee0;
        color: white;
      }
    }

    .back-button{
      #back-button{
        font-weight: bold;
      }
    }
  }

  h3{
    color:white;
    font-family: Open-Sans, "Lilita One", sans-serif;
    margin: 0;
    height: 54px;
    align-items: center;

  }
}
