.navbar{
  .navbar-nav{
    .nav-item{
      .nav-link{
        padding-left: 25px;
        padding-right: 25px;
      }
      cursor: pointer;
    }
  }
  .profile{
    margin-right: 30px;
    cursor: pointer;
  }
}
