<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img [src]="imgSource" width="30" height="30" class="d-inline-block align-top" alt="">
    Stingy
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLink="/user/home" routerLinkActive="active">
        <a class="nav-link"><i class="fa fa-search" aria-hidden="true"></i> Buscar un producto</a>
      </li>
      <li class="nav-item" routerLink="/user/upload-product" routerLinkActive="active">
        <a class="nav-link"><i class="fa fa-plus-circle" aria-hidden="true"></i> Cargar un producto</a>
      </li>
      <li class="nav-item" routerLink="/user/cart" routerLinkActive="active">
        <a class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito</a>
      </li>
    </ul>
    <span class="profile" routerLink="/user/profile" routerLinkActive="active"><i class="fa fa-user"></i> {{user.name}}</span>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Salir <i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>
</nav>
<router-outlet></router-outlet>
