<div class="admins">
  <div class="row">
    <!--ADMIN TABLE-->
    <div class="col-lg-8 mx-auto">
      <div class="loading" *ngIf="alerts.admins.loading">
        <div class="col-lg-6 "><h2>Administradores</h2></div>
        <div class="col-lg-4 offset-lg-4 col-2 offset-5">
        <span class="mx-auto"><i
          class="fa fa-spinner fa-pulse fa-fw fa-4x"></i></span>
        </div>
      </div>
      <div class="row" *ngIf="!alerts.admins.loading">
        <div class="col-lg-6 "><h2>Administradores</h2></div>
        <div class="header-table col-lg-4 col-8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Administrador">
          </mat-form-field>
        </div>
        <div class="add-button col-lg-2 col-4">
          <button mat-mini-fab style="background-color: white" (click)="openAdminModal(newAdminModal)">
            <mat-icon style="color: black">add</mat-icon>
          </button>
        </div>
        <div class="container-table col-lg-12" >

          <mat-table [dataSource]="dataSource" >

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef ><b>ID</b></mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef ><b>Usuario</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.username}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef ><b>Nombre</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
            </ng-container>

            <!-- LastName Column -->
            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef ><b>Apellido</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef ><b>Email</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
            </ng-container>

            <!--Update Column-->
            <ng-container matColumnDef="update">
              <mat-header-cell *matHeaderCellDef align="center"><span><b>Actualizar</b></span></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="upload-button" align="center">
                  <button mat-icon-button (click)="openAdminModal(newAdminModal, row.id)">
                    <mat-icon>
                      <i class="fa fa-pencil"></i>
                    </mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <!--Remove Column-->
            <ng-container matColumnDef="remove">
              <mat-header-cell *matHeaderCellDef align="center"><b>Remover</b></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="remove-button" align="center">
                  <button mat-icon-button  (click)="openAdminDeleteModal(deleteModal,row.id)">
                    <mat-icon>
                      <i class="fa fa-trash"></i>
                    </mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        </div>
      </div>
    </div>

    <!--New admin Modal-->
    <ng-template #newAdminModal>
      <div class="modal-header" (keyup.esc)="resetModal()">
        <h4 class="modal-title pull-left">
          <span *ngIf="!newAdmin.id">Nuevo administrador</span>
          <span *ngIf="newAdmin.id">Editar administrador {{newAdmin.name}}</span>
        </h4>
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="resetSupplierModal()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <form [formGroup]="adminFormGroup">
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="name"
                     [formGroup]="adminFormGroup"
                     placeholder="Nombre"
                     aria-label="Name"
                     aria-describedby="basic-addon1"
                     [(ngModel)]="newAdmin.name"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['name'].errors && (adminFormGroup.controls['name'].dirty || adminFormGroup.controls['name'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['name'].errors.required">Es requerido</p>
              </div>
            </div>
          </fieldset>
          <!--INPUT LASTNAME-->
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="lastname"
                     [formGroup]="adminFormGroup"
                     placeholder="Apellido"
                     aria-label="LastName"
                     aria-describedby="basic-addon1"
                     [(ngModel)]="newAdmin.lastName"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['lastname'].errors && (adminFormGroup.controls['lastname'].dirty || adminFormGroup.controls['lastname'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['lastname'].errors.required">Es requerido</p>
              </div>
            </div>
          </fieldset>
          <!--INPUT USERNAME-->
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="username"
                     [formGroup]="adminFormGroup"
                     placeholder="Usuario"
                     aria-label="UserName"
                     aria-describedby="basic-addon1"
                     [(ngModel)]="newAdmin.username"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['username'].errors && (adminFormGroup.controls['username'].dirty || adminFormGroup.controls['username'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['username'].errors.required">Es requerido</p>
              </div>
            </div>
          </fieldset>
          <!--INPUT EMAIL-->
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="email"
                     [formGroup]="adminFormGroup"
                     placeholder="Correo Electrónico"
                     aria-label="Email"
                     aria-describedby="basic-addon2"
                     [(ngModel)]="newAdmin.email"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['email'].errors && (adminFormGroup.controls['email'].dirty || adminFormGroup.controls['email'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['email'].errors.required">Es requerido</p>
                <p class="error" *ngIf="adminFormGroup.controls['email'].errors.email">Email Inválido</p>
              </div>
            </div>
          </fieldset>
          <!--INPUT CONFIRMED EMAIL-->
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="confirmEmail"
                     [formGroup]="adminFormGroup"
                     placeholder="Confirmar Correo Electrónico"
                     aria-label="Confirmed Email"
                     aria-describedby="basic-addon3"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['confirmEmail'].errors && (adminFormGroup.controls['confirmEmail'].dirty || adminFormGroup.controls['confirmEmail'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['confirmEmail'].errors.required">Es requerido</p>
                <p class="error" *ngIf="adminFormGroup.controls['confirmEmail'].errors?.MatchEmail">Los emails no
                  coinciden.</p>
              </div>
            </div>
          </fieldset>
          <!--INPUT PASSWORD-->
          <fieldset>
            <div class="form-group">
              <input type="password"
                     class="form-control"
                     formControlName="password"
                     [formGroup]="adminFormGroup"
                     placeholder="Contraseña"
                     aria-label="Password"
                     aria-describedby="basic-addon4"
                     [(ngModel)]="newAdmin.password"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['password'].errors && (adminFormGroup.controls['password'].dirty || adminFormGroup.controls['password'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['password'].errors.required">Es requerido</p>
                <p class="error" *ngIf="adminFormGroup.controls['password'].errors.minlength">Minimo de 8 caracteres</p>
              </div>
            </div>
          </fieldset>
          <!--INPUT CONFIRMED PASSWORD-->
          <fieldset>
            <div class="form-group">
              <input type="password"
                     class="form-control"
                     formControlName="confirmPassword"
                     [formGroup]="adminFormGroup"
                     placeholder="Confirmar Contraseña"
                     aria-label="Confirmed Password"
                     aria-describedby="basic-addon5"
                     required>
              <div class="form-control-feedback"
                   *ngIf="adminFormGroup.controls['confirmPassword'].errors && (adminFormGroup.controls['confirmPassword'].dirty || adminFormGroup.controls['confirmPassword'].touched)">
                <p class="error" *ngIf="adminFormGroup.controls['confirmPassword'].errors.required">Es requerido</p>
                <p class="error" *ngIf="adminFormGroup.controls['confirmPassword'].errors.minlength">Mínimo de 8
                  caracteres</p>
                <p class="error" *ngIf="adminFormGroup.controls['confirmPassword'].errors?.MatchPassword">Las
                  contraseñas no
                  coinciden.</p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="resetModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': adminFormGroup.invalid}"
                (click)="uploadAdmin()">Guardar
        </button>
      </div>
    </ng-template>

    <!--Delete confirmation modal-->
    <ng-template #deleteModal>
      <div class="modal-header" (keyup.esc)="resetDeleteModal()">
        <h4 class="modal-title pull-left">Eliminar
          <span>Administrador "{{adminToDelete.name}}"</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetDeleteModal(); modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el administrador?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="this.deleteAdmin()">Eliminar</button>
        <button type="submit" class="btn btn-secondary" (click)="resetDeleteModal(); modalRef.hide();">Cancelar</button>
      </div>
      <div class="alert alert-danger text-center" style="margin: 10px" *ngIf="alerts.admins.deletingErrorLogged">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Error. No te puedes eliminar a ti mismo.</p>
          </blockquote>
        </div>
      </div>
    </ng-template>

  </div>
</div>

