@import "../../../../styles";


.admins {
  padding-right: 50px;
  padding-left: 50px;
  .row {
    padding-top: 2%;
    .add-button {
      text-align: right;
      button {
        font-weight: bold;
        color: white;
      }
    }
    h2 {
      color: white;
      font-family: Open-Sans, "Lilita One", sans-serif;
    }
  }
}
