<section id="home" class="helpr-section helpr-layout-1 section section-inverse-color" >
  <div class="container">
    <div class="helpr-content" data-stellar-offset-parent="true">
      <div class="helpr-text" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="webHomeTitle">
          <h1 class="helpr-title">Buscá un producto para conseguir el mejor precio.</h1>
        </div>
        <form class="form-inline my-2 my-lg-0" *ngIf="!alerts.categories.loading">
          <input class="form-control mr-sm-2" type="search" [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" placeholder="Nombre del producto" aria-label="Search">
          <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategoryId" (ngModelChange)="getSubcategories()" [ngModelOptions]="{standalone: true}">
            <option selected>Seleccione una categoría</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategoryId" [ngModelOptions]="{standalone: true}" *ngIf="!alerts.subcategories.loading">
            <option selected disabled>Seleccione una subcategoría</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
          </select>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
<span *ngIf="searchedProducts.length <= 0">La busqueda no obtuvo resultados</span>
<div *ngIf="searchedProducts.length > 0"> <span *ngFor="let product of searchedProducts">{{product.name}}</span></div>
