<section id="home" class="helpr-section helpr-layout-1 section section-inverse-color" >
  <div class="container">
    <div class="helpr-content" data-stellar-offset-parent="true">
      <div class="helpr-text" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="webHomeTitle">
          <h1 class="helpr-title">Buscá un producto para conseguir el mejor precio.</h1>
        </div>
        <form class="form-inline my-2 my-lg-0" *ngIf="!alerts.categories.loading">
          <div class="row search-row">
            <div class="col-md-3 name">
              <input class="form-control mr-sm-2 name-input" type="search" [(ngModel)]="productName" [ngModelOptions]="{standalone: true}" placeholder="Nombre del producto" aria-label="Search">
            </div>
            <div class="col-md-4">
              <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategoryId" (ngModelChange)="getSubcategories()" [ngModelOptions]="{standalone: true}">
                <option [value]="undefined" selected disabled>Seleccione una categoría</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategoryId" [ngModelOptions]="{standalone: true}" *ngIf="!alerts.subcategories.loading">
                <option [value]="undefined" selected disabled>Seleccione una subcategoría</option>
                <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
              </select>
            </div>
            <div class="col-md-1" style="text-align: center">
              <button class="btn btn-success my-2 my-sm-0 search-button" type="submit" (click)="search()">Buscar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<span *ngIf="searchedProducts.length <= 0">La busqueda no obtuvo resultados</span>
<div *ngIf="searchedProducts.length > 0"> <span *ngFor="let product of searchedProducts">{{product.name}}</span></div>
