<section id="home" scroll="no" class="helpr-section helpr-layout-1 section section-inverse-color">
  <div class="container">
    <div class="helpr-content" data-stellar-offset-parent="true">
      <div class="helpr-text" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="webHomeTitle">
          <h1 class="helpr-title">Buscá un producto para conseguir el mejor precio.</h1>
        </div>
        <form class="form-inline my-2 my-lg-0" *ngIf="!alerts.categories.loading">
          <div class="row search-row">
            <div class="col-md-3 name">
              <input class="form-control mr-sm-2 name-input" type="search" [(ngModel)]="productName"
                     [ngModelOptions]="{standalone: true}" placeholder="Nombre del producto" aria-label="Search">
            </div>
            <div class="col-md-3">
              <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedCategoryId"
                      (ngModelChange)="getSubcategories()" [ngModelOptions]="{standalone: true}">
                <option [value]="undefined" selected disabled>Seleccione una categoría</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="custom-select custom-select-lg mb-3" [(ngModel)]="selectedSubcategoryId"
                      [ngModelOptions]="{standalone: true}" *ngIf="!alerts.subcategories.loading">
                <option [value]="undefined" selected disabled>Seleccione una subcategoría</option>
                <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.name}}</option>
              </select>
            </div>
            <div class="col-md-1" style="text-align: center">
              <button class="btn btn-success my-2 my-sm-0 search-button" type="submit" (click)="search()">Buscar
              </button>
            </div>
            <div class="col-md-1" style="text-align: center">
              <button class="btn btn-light my-2 my-sm-0 location-button"
                    (click)="openLocationModal(locationModal)">
            <i class="fa fa-road" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="row results">
  <h3 class="col-12" *ngIf="searched">Productos encontrados</h3>
  <div class="col-12 loader">
    <span *ngIf="alerts.search.loading" class="mx-auto">
      <i class="fa fa-spinner fa-pulse fa-fw fa-4x"></i>
    </span>
  </div>
  <div class="col-md-12" style="margin-bottom: 50px" *ngIf="searchedProducts.length > 0 && !alerts.location.loading">
    <div class="card col-md-3 offset-md-1" *ngFor="let product of searchedProducts">
      <img class="card-img-top" [src]="product.imageUrl" alt="Product img">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">
          {{product.description}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <!--<li class="list-group-item">-->
        <!--<span style="font-weight: bold">Precio:</span> ${{product.price}}-->
        <!--</li>-->
        <!--<li class="list-group-item">-->
        <!--<span style="font-weight: bold">Proveedor:</span> {{productsSuppliers.get(product.id)?.name}}-->
        <!--</li>-->

        <div class="supplierProducts-items" *ngFor="let supplierProduct of getSupplierProductsMap(product.id)">
          <li class="list-group-item" >
            <span style="font-weight: bold">Precio:$ {{supplierProduct.price}}</span>
            <span style="font-weight: bold">Proovedor: {{getSupplierMap(supplierProduct.supplierId).name}}</span>
          </li>
        </div>

        <li class="list-group-item">
          <button class="btn btn-primary" (click)="addToCart(product.id)"
                  *ngIf="supplierProducts.get(product.id).length > 0">Agregar al carrito</button>
        </li>
      </ul>
    </div>
  </div>
  <h3 class="col-12 no-results" *ngIf="searched && searchedProducts.length <= 0">Su búsqueda no obtuvo resultados</h3>
  <h3 class="col-12 no-results" *ngIf="searched && alerts.search.error">Hubo un error al realizar su búsqueda.</h3>
  <h3 class="col-12 no-results" *ngIf="searched && alerts.location.error">Hubo un error al obtener su ubicación.</h3>
</div>

<ng-template #locationModal>
  <div class="modal-header" (keyup.esc)="resetModal()">
    <h4 class="modal-title pull-left">
      <span>Tu ubicacion actual</span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal(); modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <agm-map [latitude]="location.latitude" [longitude]="location.longitude" *ngIf="!alerts.location.error && !alerts.location.loading">
      <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
    </agm-map>
    <div class="alert alert-danger text-center" *ngIf="alerts.location.error">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>¡Es necesario habilitar su Ubicacion!</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-light" (click)="this.findCurrentGeoLocation()">Posicioname</button>
  </div>
</ng-template>


