<div class="suppliers">
  <div class="row">

    <!--SUPPLIERS TABLE-->
    <div class="col-lg-8 mx-auto">
      <!--LOADING ANIMATION-->
      <div class="loading" *ngIf="alerts.suppliers.loading">
        <div class="col-lg-6 "><h2>Proovedores</h2></div>
        <div class="col-lg-4 offset-lg-4 col-2 offset-5">
        <span class="mx-auto">
          <i class="fa fa-spinner fa-pulse fa-fw fa-4x"></i>
        </span>
        </div>
      </div>
      <div class="row" *ngIf="!alerts.suppliers.loading">
        <div class="col-lg-6 "><h2>Proovedores</h2></div>
        <div class="header-table col-lg-4 col-8">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Proveedor">
          </mat-form-field>
        </div>
        <div class="add-button col-lg-2 col-4">
          <button mat-mini-fab style="background-color: white" (click)="openSupplierModal(newSupplierModal,'NEWSUPPLIER')">
            <mat-icon style="color: black">add</mat-icon>
          </button>
        </div>
        <div class="container-table col-lg-12">
          <mat-table #suppliersTable [dataSource]="supplier_DataSource" >

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef ><b>ID</b></mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef ><b>Nombre</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef ><b>Nombre</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
            </ng-container>


            <!--Update Column-->
            <ng-container matColumnDef="update">
              <mat-header-cell *matHeaderCellDef align="center"><span><b>Actualizar</b></span></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="upload-button" align="center">
                  <button mat-icon-button (click)="openSupplierModal(newSupplierModal,'SUPPLIER', row.id)">
                    <mat-icon>
                      <i class="fa fa-pencil"></i>
                    </mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <!--Remove Column-->
            <ng-container matColumnDef="remove">
              <mat-header-cell *matHeaderCellDef align="center"><b>Remover</b></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="remove-button" align="center">
                  <button mat-icon-button (click)="openSupplierModal(deleteModal,'SUPPLIERDELETE',row.id)">
                    <mat-icon>
                      <i class="fa fa-trash"></i>
                    </mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="supplier_Columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: supplier_Columns;">
            </mat-row>
          </mat-table>
        </div>

      </div>
    </div>

    <!--REPORTS TABLE-->
    <div class="col-lg-8 mx-auto">
      <!--LOADING ANIMATION-->
      <div class="loading" *ngIf="alerts.reports.loading">
        <div class="col-lg-6 "><h2>Reportes</h2></div>
        <div class="col-md-4 offset-md-4 col-2 offset-5">
        <span class="mx-auto"><i
          class="fa fa-spinner fa-pulse fa-fw fa-4x"></i></span>
        </div>
      </div>
      <div class="row" *ngIf="!alerts.reports.loading">
        <div class="col-lg-6 "><h2>Reportes</h2></div>
        <div class="header-table col-lg-4 col-8">
          <mat-form-field>
            <input matInput (keyup)="applyReportsFilter($event.target.value)" placeholder="Buscar Reporte">
          </mat-form-field>
        </div>
        <div class="container-table col-lg-12">

          <mat-table #reportsTable [dataSource]="report_DataSource" >

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef ><b>ID</b></mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <!-- Requester Column -->
            <ng-container matColumnDef="userId">
              <mat-header-cell *matHeaderCellDef ><b>Usuario</b></mat-header-cell>
              <mat-cell *matCellDef="let row" (click)="openRequesterModal(userDetailModal,'Requester', getRequesterFromMap(report.userId))">
                <span id="Details">{{getRequesterFromMap(row.userId).username}}</span>
              </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef ><b>Descripción</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef ><b>Fecha</b></mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.date.toStringDate()}}</mat-cell>
            </ng-container>


            <!--Solve Column-->
            <ng-container matColumnDef="solve">
              <mat-header-cell *matHeaderCellDef align="center"><span><b>Actualizar</b></span></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="solve-button" align="center">
                  <button mat-icon-button (click)="openReportModal(newSupplierModal,'REPORT', row.id)">
                    <mat-icon>
                      <i class="fa fa-plus"></i>
                    </mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <!--Remove Column-->
            <ng-container matColumnDef="remove">
              <mat-header-cell *matHeaderCellDef align="center"><b>Remover</b></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <div class="remove-button" align="center">
                  <button mat-icon-button (click)="openReportModal(deleteModal,'REPORTDELETE',row.id)">
                    <mat-icon>
                      <i class="fa fa-trash"></i>
                    </mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="report_Columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: report_Columns;">
            </mat-row>
          </mat-table>

        </div>

      </div>
    </div>

    <!--SUPPLIER MODAL-->
    <ng-template #newSupplierModal id="newSupplierModal">
      <div class="modal-header" (keyup.esc)="resetModal('Supplier')">
        <h4 class="modal-title pull-left">
          <span *ngIf="!newSupplier.id">Nuevo Proveedor</span>
          <span *ngIf="newSupplier.id">Editar Proveedor {{newSupplier.name}}</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal('Supplier')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div align="center" style="margin-bottom: 15px;">
          <span *ngIf="report.id"><em><b>Descripción: </b>"{{report.description}}"</em></span>
        </div>
        <form [formGroup]="supplierFormGroup">
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="name"
                     [formGroup]="supplierFormGroup"
                     placeholder="Nombre"
                     aria-label="Name"
                     aria-describedby="basic-addon1"
                     [(ngModel)]="newSupplier.name"
                     required>
              <div class="form-control-feedback"
                   *ngIf="supplierFormGroup.controls['name'].errors && (supplierFormGroup.controls['name'].dirty || supplierFormGroup.controls['name'].touched)">
                <p class="error" *ngIf="supplierFormGroup.controls['name'].errors.required">Es requerido</p>
              </div>
            </div>
          </fieldset>

          <!--INPUT DESCRIPTION-->
          <fieldset>
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     formControlName="description"
                     [formGroup]="supplierFormGroup"
                     placeholder="Descripción"
                     aria-label="description"
                     aria-describedby="basic-addon1"
                     [(ngModel)]="newSupplier.description"
                     required>
              <div class="form-control-feedback"
                   *ngIf="supplierFormGroup.controls['description'].errors && (supplierFormGroup.controls['description'].dirty || supplierFormGroup.controls['description'].touched)">
                <p class="error" *ngIf="supplierFormGroup.controls['description'].errors.required">Es requerido</p>
              </div>
            </div>
          </fieldset>
        </form>
        <agm-map [latitude]="location.latitude" [longitude]="location.longitude">
          <!--                   (mapClick)="placeMarker($event)">-->
          <!--            <agm-marker [latitude]="location.latitude"-->
          <!--                        [longitude]="location.longitude"></agm-marker>-->
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="resetModal('Supplier')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': supplierFormGroup.invalid}"
                (click)="uploadSupplier()" *ngIf="!report.id">Guardar
        </button>
        <button type="submit" class="btn btn-primary" [ngClass]="{'disabled': supplierFormGroup.invalid}"
                (click)="uploadSupplierBySolvingReport()" *ngIf="report.id">Guardar Y Realizar
        </button>
      </div>
    </ng-template>

    <!--DELETE SUPPLIER CONFIRMATION MODAL-->
    <ng-template #deleteModal>
      <div class="modal-header" (keyup.esc)="resetModal('SupplierDelete')">
        <h4 class="modal-title pull-left">Eliminar
          <span>Proveedor {{supplierToDelete.name}}</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="resetModal('SupplierDelete'); modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el proveedor?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="this.deleteSupplier()">Eliminar</button>
        <button type="submit" class="btn btn-secondary" (click)="resetModal('Supplier'); modalRef.hide();">Cancelar
        </button>
      </div>
    </ng-template>

    <!--DETAIL USER MODAL-->
    <ng-template #userDetailModal>
      <div class="modal-header" (keyup.esc)="resetModal('Requester')">
        <h4 class="modal-title pull-left">
          <span *ngIf="requester.id">Detalles del Usuario: {{requester.name}}</span>
        </h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal('Requester')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="width: 100%">
            <ul class="list-group list-group-flush" *ngIf="requester.id">
              <li class="list-group-item"><b>ID: </b><span>{{requester.id}}</span></li>
              <li class="list-group-item"><b>Nombre: </b><span>{{requester.name}}</span></li>
              <li class="list-group-item"><b>Apellido: </b><span>{{requester.lastName}}</span></li>
              <li class="list-group-item"><b>Usuario: </b><span>{{requester.username}}</span></li>
              <li class="list-group-item"><b>Email: </b><span>{{requester.email}}</span></li>
              <li class="list-group-item"><b>Rating: </b><span>{{requester.rate}}</span></li>
              <li class="list-group-item"><b>Porcentaje de reportes aprobados: </b><span>{{requester.acceptedReportsPercentage}}%</span></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="resetModal('Requester')">Volver</button>
      </div>
    </ng-template>

    <!--DELETE REPORT CONFIRMATION MODALDelete-->
    <ng-template #deleteReportModal>
      <div class="modal-header" (keyup.esc)="resetModal('Report')">
        <h4 class="modal-title pull-left">Eliminar
          <span>Reporte</span>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="resetModal('Report'); modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el reporte de provedor?
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="this.deleteReport()">Eliminar</button>
        <button type="submit" class="btn btn-secondary" (click)="resetModal('Report'); modalRef.hide();">Cancelar
        </button>
      </div>
    </ng-template>

  </div>
</div>

