<div>
<ul class="nav nav-tabs">
<li class="nav-item">
<a class="nav-link active">Vista</a>
</li>
<li class="nav-item">
<a class="nav-link" >Alta</a>
</li>
<li class="nav-item">
<a class="nav-link " >Baja</a>
</li>
<li class="nav-item">
<a class="nav-link ">Modificacion</a>
</li>
</ul>
</div>


<!--<div class="upload-categories">-->
  <!--<form class="new-user-form" [formGroup]="formGroup" (ngSubmit)="uploadCategory()">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4 offset-md-2 align-content-end">-->
        <!--<h3 class="text" align="center">Complete sus datos:</h3>-->
        <!--&lt;!&ndash;INPUT NAME CATEGORY&ndash;&gt;-->
        <!--<fieldset>-->
          <!--<div class="form-group">-->
            <!--<input type="text"-->
                   <!--class="form-control"-->
                   <!--formControlName="name"-->
                   <!--[formGroup]="formGroup"-->
                   <!--placeholder="Nombre"-->
                   <!--aria-label="Name"-->
                   <!--aria-describedby="basic-addon1"-->
                   <!--[(ngModel)]="category.name"-->
                   <!--required>-->
            <!--<div class="form-control-feedback"-->
                 <!--*ngIf="formGroup.controls['name'].errors && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">-->
              <!--<p class="error" *ngIf="formGroup.controls['name'].errors.required">Es requerido</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
        <!--&lt;!&ndash;&lt;!&ndash;INPUT ID CATEGORY&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<fieldset>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text"&ndash;&gt;-->
                   <!--&lt;!&ndash;class="form-control"&ndash;&gt;-->
                   <!--&lt;!&ndash;formControlName="id"&ndash;&gt;-->
                   <!--&lt;!&ndash;[formGroup]="formGroup"&ndash;&gt;-->
                   <!--&lt;!&ndash;placeholder="ID"&ndash;&gt;-->
                   <!--&lt;!&ndash;aria-label="id"&ndash;&gt;-->
                   <!--&lt;!&ndash;aria-describedby="basic-addon1"&ndash;&gt;-->
                   <!--&lt;!&ndash;[(ngModel)]="category.id"&ndash;&gt;-->
                   <!--&lt;!&ndash;required>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="form-control-feedback"&ndash;&gt;-->
                 <!--&lt;!&ndash;*ngIf="formGroup.controls['id'].errors && (formGroup.controls['id'].dirty || formGroup.controls['id'].touched)">&ndash;&gt;-->
              <!--&lt;!&ndash;<p class="error" *ngIf="formGroup.controls['id'].errors.required">Es requerido</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</fieldset>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
