.admin-categories {
  padding-right: 50px;
  padding-left: 50px;

  .row {
    padding-top: 2%;
    background-color: #8BC4FF;

    .add-button {
      text-align: right;

      button {
        background-color: #58bee0;
        font-weight: bold;
        color: white;
      }
    }
  }
}
