<div style="text-align:center" class="hola">
  <h1>Hola</h1>
  <form (submit)="addUser()">
    Nombre:
    <input name="name" type="text" [(ngModel)]="user.name">
    Apellido:
    <input name="name" type="text" [(ngModel)]="user.lastName">
    Email:
    <input name="name" type="text" [(ngModel)]="user.email">
    Usuario:
    <input name="username" type="text" [(ngModel)]="user.username">
    Password:
    <input name="password" type="text" [(ngModel)]="user.password">
    <button type="submit">Add user</button>
  </form>
</div>
